## .NET
bin/
obj/
*.user
*.suo
*.cache
*.pdb

## NuGet
packages/
*.nupkg

## IDE
.vs/
.idea/
*.DotSettings.user

## Build output
installer/output/
installer/prereqs/

## OS
Thumbs.db
Desktop.ini
.DS_Store
